/* You can add global styles to this file, and also import other style files */

.cdk-overlay-container {
    .cdk-overlay-pane {
        .search-auto-complete {
            border-top: 1px solid #afafaf;
            box-shadow: 3px 4px 6px #dfdfdf;
            overflow: hidden;
        }
    }
}
