<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="WebDAVModule" />
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\made-in-india\web-scrapper-tool\webscappingenv\Scripts\python.exe|F:\made-in-india\web-scrapper-tool\webscappingenv\lib\site-packages\wfastcgi-3.0.0-py3.8.egg\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="api_controller.app" />
		<add key="PYTHONPATH" value="F:\made-in-india\web-scrapper-tool\api" />
	</appSettings>
</configuration>
