.search-bar-wrapper {
    display: flex;
    background-color: white;
    color: white;
    border: 1px solid #afafaf;
    &:hover {
        border: none;
        box-shadow: 0 3px 6px #AFAFAF;
    }
    &:focus-within {
        border: none;
        box-shadow: 0 3px 6px #AFAFAF;
    }
    .icon-and-input {
        display: flex;
        width: 100%;
        background-color: inherit;
        border-radius: inherit;
        .search-form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .search-icon {
                margin: 0 12px;
            }
            .search-input {
                color: #1F1F1F;
                background-color: inherit;
                border: 0;
                width: 100%;
                height: 100%;
                outline: none;
            }
        }
    }
}